@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body main h3 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 120%;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}

